ТИП ТИП1
ЧИСЛО
ОТ 0
ДО 100000
КОММЕНТАРИЙ number

ТИП ТИП2
СИМВОЛ
"Болен"
"Здоров"
"Пусто"
КОММЕНТАРИЙ символьный

ИМЯ "Главный_объект"
ГРУППА "Объект"
АТРИБУТЫ
  температура: числовой
  наличие_кашля: числовой

ИМЯ "Таймер"
ГРУППА "Объект"
АТРИБУТЫ
  такт: числовой

ИМЯ "Счётчик"
ГРУППА "Объект"
АТРИБУТЫ
  Голоса_за_Здоров: числовой
  Голоса_за_Болен: числовой
  Результат: символьный

ИМЯ "Положительный_интервал_655063280_0"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура>=371) & (Таймер.такт=0)
  Усл: Таймер.такт=1
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Отрицательный_интервал_655063280_0"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура<371) & (Таймер.такт=0)
  Усл: Таймер.такт=1
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Положительный_интервал_655063280_1"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура>=371) & (Таймер.такт=1)
  Усл: Таймер.такт=0
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Отрицательный_интервал_655063280_1"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура<371) & (Таймер.такт=1)
  Усл: Таймер.такт=0
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Положительный_интервал_656057264_0"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура>=371) & (Таймер.такт=0)
  Усл: Таймер.такт=1
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Отрицательный_интервал_656057264_0"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура<371) & (Таймер.такт=0)
  Усл: Таймер.такт=1
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Положительный_интервал_656057264_1"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура>=371) & (Таймер.такт=1)
  Усл: Таймер.такт=0
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Отрицательный_интервал_656057264_1"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура<371) & (Таймер.такт=1)
  Усл: Таймер.такт=0
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Положительный_интервал_656058688_0"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура>=370) & (Таймер.такт=0)
  Усл: Таймер.такт=1
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Отрицательный_интервал_656058688_0"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура<370) & (Таймер.такт=0)
  Усл: Таймер.такт=1
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Положительный_интервал_656058688_1"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура>=370) & (Таймер.такт=1)
  Усл: Таймер.такт=0
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Отрицательный_интервал_656058688_1"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура<370) & (Таймер.такт=1)
  Усл: Таймер.такт=0
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Положительный_интервал_656064592_0"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.наличие_кашля>=1) & (Таймер.такт=0)
  Усл: Таймер.такт=1
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Отрицательный_интервал_656064592_0"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.наличие_кашля<1) & (Таймер.такт=0)
  Усл: Таймер.такт=1
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Положительный_интервал_656064592_1"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.наличие_кашля>=1) & (Таймер.такт=1)
  Усл: Таймер.такт=0
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Отрицательный_интервал_656064592_1"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.наличие_кашля<1) & (Таймер.такт=1)
  Усл: Таймер.такт=0
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Положительный_интервал_656075600_0"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура>=373) & (Таймер.такт=1)
  Усл: Таймер.такт=1
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Отрицательный_интервал_656075600_0"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура<373) & (Таймер.такт=1)
  Усл: Таймер.такт=1
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Положительный_интервал_656075600_1"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура>=373) & (Таймер.такт=0)
  Усл: Таймер.такт=0
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Отрицательный_интервал_656075600_1"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура<373) & (Таймер.такт=0)
  Усл: Таймер.такт=0
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Положительный_интервал_656078736_0"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура>=373) & (Таймер.такт=1)
  Усл: Таймер.такт=1
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Отрицательный_интервал_656078736_0"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура<373) & (Таймер.такт=1)
  Усл: Таймер.такт=1
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Положительный_интервал_656078736_1"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура>=373) & (Таймер.такт=0)
  Усл: Таймер.такт=0
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Отрицательный_интервал_656078736_1"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура<373) & (Таймер.такт=0)
  Усл: Таймер.такт=0
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Положительный_интервал_656084336_0"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура>=373) & (Таймер.такт=1)
  Усл: Таймер.такт=1
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Отрицательный_интервал_656084336_0"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура<373) & (Таймер.такт=1)
  Усл: Таймер.такт=1
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Положительный_интервал_656084336_1"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура>=373) & (Таймер.такт=0)
  Усл: Таймер.такт=0
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Отрицательный_интервал_656084336_1"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура<373) & (Таймер.такт=0)
  Усл: Таймер.такт=0
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Положительный_интервал_656096688_0"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура>=370) & (Таймер.такт=0)
  Усл: Таймер.такт=1
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Отрицательный_интервал_656096688_0"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура<370) & (Таймер.такт=0)
  Усл: Таймер.такт=1
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Положительный_интервал_656096688_1"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура>=370) & (Таймер.такт=1)
  Усл: Таймер.такт=0
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Отрицательный_интервал_656096688_1"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура<370) & (Таймер.такт=1)
  Усл: Таймер.такт=0
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Положительный_интервал_656090608_0"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура>=373) & (Таймер.такт=1)
  Усл: Таймер.такт=1
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Отрицательный_интервал_656090608_0"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура<373) & (Таймер.такт=1)
  Усл: Таймер.такт=1
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Положительный_интервал_656090608_1"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура>=373) & (Таймер.такт=0)
  Усл: Таймер.такт=0
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Отрицательный_интервал_656090608_1"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура<373) & (Таймер.такт=0)
  Усл: Таймер.такт=0
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Положительный_интервал_656194176_0"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура>=370) & (Таймер.такт=0)
  Усл: Таймер.такт=1
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Отрицательный_интервал_656194176_0"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура<370) & (Таймер.такт=0)
  Усл: Таймер.такт=1
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Положительный_интервал_656194176_1"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура>=370) & (Таймер.такт=1)
  Усл: Таймер.такт=0
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Отрицательный_интервал_656194176_1"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура<370) & (Таймер.такт=1)
  Усл: Таймер.такт=0
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Правило_656051808_0"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_1 f Отрицательный_интервал_655063280_0) &
  (Текущий_такт_1 a Текущий_такт_0)
ТО
  Счётчик.Голоса_за_Здоров += 1

ИМЯ "Правило_656051472_0"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_1 f Положительный_интервал_655063280_0) &
  (Текущий_такт_1 a Текущий_такт_0)
ТО
  Счётчик.Голоса_за_Болен += 1

ИМЯ "Правило_656051808_1"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_0 f Отрицательный_интервал_655063280_1) &
  (Текущий_такт_0 a Текущий_такт_1)
ТО
  Счётчик.Голоса_за_Здоров += 1

ИМЯ "Правило_656051472_1"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_0 f Положительный_интервал_655063280_1) &
  (Текущий_такт_0 a Текущий_такт_1)
ТО
  Счётчик.Голоса_за_Болен += 1

ИМЯ "Правило_656060032_0"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_1 f Отрицательный_интервал_656057264_0) &
  (Текущий_такт_1 a Текущий_такт_0)
ТО
  Счётчик.Голоса_за_Здоров += 1

ИМЯ "Правило_656059024_0"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_1 f Положительный_интервал_656057264_0) &
  (Текущий_такт_1 a Текущий_такт_0)
ТО
  Счётчик.Голоса_за_Болен += 1

ИМЯ "Правило_656060032_1"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_0 f Отрицательный_интервал_656057264_1) &
  (Текущий_такт_0 a Текущий_такт_1)
ТО
  Счётчик.Голоса_за_Здоров += 1

ИМЯ "Правило_656059024_1"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_0 f Положительный_интервал_656057264_1) &
  (Текущий_такт_0 a Текущий_такт_1)
ТО
  Счётчик.Голоса_за_Болен += 1

ИМЯ "Правило_656063584_0"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_1 f Отрицательный_интервал_656058688_0) &
  (Текущий_такт_1 a Текущий_такт_0)
ТО
  Счётчик.Голоса_за_Здоров += 1

ИМЯ "Правило_656068848_0"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_1 f Положительный_интервал_656058688_0) &
  (Текущий_такт_1 a Текущий_такт_0)
ТО
  Счётчик.Голоса_за_Болен += 1

ИМЯ "Правило_656063584_1"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_0 f Отрицательный_интервал_656058688_1) &
  (Текущий_такт_0 a Текущий_такт_1)
ТО
  Счётчик.Голоса_за_Здоров += 1

ИМЯ "Правило_656068848_1"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_0 f Положительный_интервал_656058688_1) &
  (Текущий_такт_0 a Текущий_такт_1)
ТО
  Счётчик.Голоса_за_Болен += 1

ИМЯ "Правило_656075488_0"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_1 f Отрицательный_интервал_656064592_0) &
  (Текущий_такт_1 a Текущий_такт_0)
ТО
  Счётчик.Голоса_за_Здоров += 1

ИМЯ "Правило_656075152_0"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_1 f Положительный_интервал_656064592_0) &
  (Текущий_такт_1 a Текущий_такт_0)
ТО
  Счётчик.Голоса_за_Болен += 1

ИМЯ "Правило_656075488_1"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_0 f Отрицательный_интервал_656064592_1) &
  (Текущий_такт_0 a Текущий_такт_1)
ТО
  Счётчик.Голоса_за_Здоров += 1

ИМЯ "Правило_656075152_1"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_0 f Положительный_интервал_656064592_1) &
  (Текущий_такт_0 a Текущий_такт_1)
ТО
  Счётчик.Голоса_за_Болен += 1

ИМЯ "Правило_656072800_0"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_1 f Отрицательный_интервал_656075600_0) &
  (Текущий_такт_1 a Текущий_такт_0)
ТО
  Счётчик.Голоса_за_Здоров += 1

ИМЯ "Правило_656075040_0"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_1 f Положительный_интервал_656075600_0) &
  (Текущий_такт_1 a Текущий_такт_0)
ТО
  Счётчик.Голоса_за_Болен += 1

ИМЯ "Правило_656072800_1"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_0 f Отрицательный_интервал_656075600_1) &
  (Текущий_такт_0 a Текущий_такт_1)
ТО
  Счётчик.Голоса_за_Здоров += 1

ИМЯ "Правило_656075040_1"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_0 f Положительный_интервал_656075600_1) &
  (Текущий_такт_0 a Текущий_такт_1)
ТО
  Счётчик.Голоса_за_Болен += 1

ИМЯ "Правило_656086016_0"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_1 f Отрицательный_интервал_656078736_0) &
  (Текущий_такт_1 a Текущий_такт_0)
ТО
  Счётчик.Голоса_за_Здоров += 1

ИМЯ "Правило_656087136_0"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_1 f Положительный_интервал_656078736_0) &
  (Текущий_такт_1 a Текущий_такт_0)
ТО
  Счётчик.Голоса_за_Болен += 1

ИМЯ "Правило_656086016_1"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_0 f Отрицательный_интервал_656078736_1) &
  (Текущий_такт_0 a Текущий_такт_1)
ТО
  Счётчик.Голоса_за_Здоров += 1

ИМЯ "Правило_656087136_1"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_0 f Положительный_интервал_656078736_1) &
  (Текущий_такт_0 a Текущий_такт_1)
ТО
  Счётчик.Голоса_за_Болен += 1

ИМЯ "Правило_656095008_0"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_1 f Отрицательный_интервал_656084336_0) &
  (Текущий_такт_1 a Текущий_такт_0)
ТО
  Счётчик.Голоса_за_Здоров += 1

ИМЯ "Правило_656094112_0"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_1 f Положительный_интервал_656084336_0) &
  (Текущий_такт_1 a Текущий_такт_0)
ТО
  Счётчик.Голоса_за_Болен += 1

ИМЯ "Правило_656095008_1"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_0 f Отрицательный_интервал_656084336_1) &
  (Текущий_такт_0 a Текущий_такт_1)
ТО
  Счётчик.Голоса_за_Здоров += 1

ИМЯ "Правило_656094112_1"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_0 f Положительный_интервал_656084336_1) &
  (Текущий_такт_0 a Текущий_такт_1)
ТО
  Счётчик.Голоса_за_Болен += 1

ИМЯ "Правило_656092880_0"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_1 f Отрицательный_интервал_656096688_0) &
  (Текущий_такт_1 a Текущий_такт_0)
ТО
  Счётчик.Голоса_за_Здоров += 1

ИМЯ "Правило_656097248_0"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_1 f Положительный_интервал_656096688_0) &
  (Текущий_такт_1 a Текущий_такт_0)
ТО
  Счётчик.Голоса_за_Болен += 1

ИМЯ "Правило_656092880_1"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_0 f Отрицательный_интервал_656096688_1) &
  (Текущий_такт_0 a Текущий_такт_1)
ТО
  Счётчик.Голоса_за_Здоров += 1

ИМЯ "Правило_656097248_1"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_0 f Положительный_интервал_656096688_1) &
  (Текущий_такт_0 a Текущий_такт_1)
ТО
  Счётчик.Голоса_за_Болен += 1

ИМЯ "Правило_656196752_0"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_1 f Отрицательный_интервал_656090608_0) &
  (Текущий_такт_1 a Текущий_такт_0)
ТО
  Счётчик.Голоса_за_Здоров += 1

ИМЯ "Правило_656193616_0"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_1 f Положительный_интервал_656090608_0) &
  (Текущий_такт_1 a Текущий_такт_0)
ТО
  Счётчик.Голоса_за_Болен += 1

ИМЯ "Правило_656196752_1"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_0 f Отрицательный_интервал_656090608_1) &
  (Текущий_такт_0 a Текущий_такт_1)
ТО
  Счётчик.Голоса_за_Здоров += 1

ИМЯ "Правило_656193616_1"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_0 f Положительный_интервал_656090608_1) &
  (Текущий_такт_0 a Текущий_такт_1)
ТО
  Счётчик.Голоса_за_Болен += 1

ИМЯ "Правило_656198768_0"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_1 f Отрицательный_интервал_656194176_0) &
  (Текущий_такт_1 a Текущий_такт_0)
ТО
  Счётчик.Голоса_за_Здоров += 1

ИМЯ "Правило_656197648_0"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_1 f Положительный_интервал_656194176_0) &
  (Текущий_такт_1 a Текущий_такт_0)
ТО
  Счётчик.Голоса_за_Болен += 1

ИМЯ "Правило_656198768_1"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_0 f Отрицательный_интервал_656194176_1) &
  (Текущий_такт_0 a Текущий_такт_1)
ТО
  Счётчик.Голоса_за_Здоров += 1

ИМЯ "Правило_656197648_1"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_0 f Положительный_интервал_656194176_1) &
  (Текущий_такт_0 a Текущий_такт_1)
ТО
  Счётчик.Голоса_за_Болен += 1

ИМЯ "Правило_Здоров"
ТИП "Обычное"
ЕСЛИ
  (Счётчик.Голоса_за_Здоров + Счётчик.Голоса_за_Болен = 10) &
  (Счётчик.Голоса_за_Здоров>=Счётчик.Голоса_за_Болен)
ТО
  Счётчик.Результат = "Здоров"

ИМЯ "Правило_Болен"
ТИП "Обычное"
ЕСЛИ
  (Счётчик.Голоса_за_Здоров + Счётчик.Голоса_за_Болен = 10) &
  (Счётчик.Голоса_за_Болен>=Счётчик.Голоса_за_Здоров)
ТО
  Счётчик.Результат = "Болен"

ИМЯ "Текущий_такт_0"
ГРУППА "Событие"
АТРИБУТЫ
  УслВозн: Таймер.такт=0
  Количество Возникновений: числовой
  Активность: числовой

ИМЯ "Текущий_такт_1"
ГРУППА "Событие"
АТРИБУТЫ
  УслВозн: Таймер.такт=1
  Количество Возникновений: числовой
  Активность: числовой


