ТИП ТИП1
ЧИСЛО
ОТ 0
ДО 100000
КОММЕНТАРИЙ number

ТИП ТИП2
СИМВОЛ
"Болен"
"Здоров"
"Пусто"
КОММЕНТАРИЙ символьный

ИМЯ "Главный_объект"
ГРУППА "Объект"
АТРИБУТЫ
  температура: числовой
  наличие_кашля: числовой

ИМЯ "Таймер"
ГРУППА "Объект"
АТРИБУТЫ
  такт: числовой

ИМЯ "Счётчик"
ГРУППА "Объект"
АТРИБУТЫ
  Голоса_за_Здоров: числовой
  Голоса_за_Болен: числовой
  Результат: символьный

ИМЯ "Положительный_интервал_470953672_0"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура>=383) & (Таймер.такт=2)
  Усл: Таймер.такт=2
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Отрицательный_интервал_470953672_0"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура<383) & (Таймер.такт=2)
  Усл: Таймер.такт=2
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Положительный_интервал_470953672_1"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура>=383) & (Таймер.такт=0)
  Усл: Таймер.такт=0
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Отрицательный_интервал_470953672_1"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура<383) & (Таймер.такт=0)
  Усл: Таймер.такт=0
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Положительный_интервал_470953672_2"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура>=383) & (Таймер.такт=1)
  Усл: Таймер.такт=1
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Отрицательный_интервал_470953672_2"
ГРУППА "Интервал"
АТРИБУТЫ
  Усл: (Главный_объект.температура<383) & (Таймер.такт=1)
  Усл: Таймер.такт=1
  Продолжительность: числовой
  Количество возникновений: числовой
  Активность: числовой

ИМЯ "Правило_471607272_0"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_2 f Отрицательный_интервал_470953672_0) &
  (Текущий_такт_2 a Текущий_такт_0)
ТО
  Счётчик.Голоса_за_Здоров += 1

ИМЯ "Правило_471608064_0"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_2 f Положительный_интервал_470953672_0) &
  (Текущий_такт_2 a Текущий_такт_0)
ТО
  Счётчик.Голоса_за_Болен += 1

ИМЯ "Правило_471607272_1"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_0 f Отрицательный_интервал_470953672_1) &
  (Текущий_такт_0 a Текущий_такт_1)
ТО
  Счётчик.Голоса_за_Здоров += 1

ИМЯ "Правило_471608064_1"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_0 f Положительный_интервал_470953672_1) &
  (Текущий_такт_0 a Текущий_такт_1)
ТО
  Счётчик.Голоса_за_Болен += 1

ИМЯ "Правило_471607272_2"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_1 f Отрицательный_интервал_470953672_2) &
  (Текущий_такт_1 a Текущий_такт_2)
ТО
  Счётчик.Голоса_за_Здоров += 1

ИМЯ "Правило_471608064_2"
ТИП "Обычное"
ЕСЛИ
  (Текущий_такт_1 f Положительный_интервал_470953672_2) &
  (Текущий_такт_1 a Текущий_такт_2)
ТО
  Счётчик.Голоса_за_Болен += 1

ИМЯ "Правило_Здоров"
ТИП "Обычное"
ЕСЛИ
  (Счётчик.Голоса_за_Здоров + Счётчик.Голоса_за_Болен = 1) &
  (Счётчик.Голоса_за_Здоров>=Счётчик.Голоса_за_Болен)
ТО
  Счётчик.Результат = "Здоров"

ИМЯ "Правило_Болен"
ТИП "Обычное"
ЕСЛИ
  (Счётчик.Голоса_за_Здоров + Счётчик.Голоса_за_Болен = 1) &
  (Счётчик.Голоса_за_Болен>=Счётчик.Голоса_за_Здоров)
ТО
  Счётчик.Результат = "Болен"

ИМЯ "Текущий_такт_0"
ГРУППА "Событие"
АТРИБУТЫ
  УслВозн: Таймер.такт=0
  Количество Возникновений: числовой
  Активность: числовой

ИМЯ "Текущий_такт_1"
ГРУППА "Событие"
АТРИБУТЫ
  УслВозн: Таймер.такт=1
  Количество Возникновений: числовой
  Активность: числовой

ИМЯ "Текущий_такт_2"
ГРУППА "Событие"
АТРИБУТЫ
  УслВозн: Таймер.такт=2
  Количество Возникновений: числовой
  Активность: числовой


